.badge-wrapper {
    border-radius: 5px;
    background-color: rgb(188, 230, 238);
    min-height: 30px;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    margin: 5px 5px;
    cursor: pointer;
}

.badge-plus-sign {
    color: blue;
    margin: 3px 3px 3px 3px;
    font-weight: bold;
}

.badge-text {
    margin: 3px 3px 3px 3px;
    padding-right: 10px;
}