.badge-wrapper {
    border-radius: 5px;
    background-color: #f0f5ff;
    min-height: 30px;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    margin: 5px 5px;
    cursor: pointer;
}

.badge-plus-sign {
    color: #4263eb;
    margin: 3px 3px 3px 3px;
    font-weight: bold;
}

.badge-text {
    margin: 3px 3px 3px 3px;
    padding-right: 10px;
}